{% extends "base.html" %}
{% block title %} Notifications {% endblock %}

{% block content %}
<main class="container py-5">
  <header>
    <h3 class="display-5">About LADGAC Rehabilitation Centre</h3>
    <p class="lead">At LADGAC Rehabilitation Centre, we are committed to helping individuals break free from the
      destructive cycles of drug
      addiction, gangsterism, and criminal behavior.</p>
  </header><br><br>
  <div class="container col-xxl-8 px-4 py-5">
    <div class="row g-5 py-3">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="/imgs/lebo.jpg" class="d-block mx-lg-auto img-fluid rounded" alt="Bootstrap Themes" width="700"
          height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">
          We Have 10 Years Experience
        </h1>
        <p class="lead">Our holistic rehabilitation program is designed to not only
          treat the
          symptoms but also address the root causes that lead to these destructive lifestyles.
        </p>
        <p class="lead">
          Through personalized care,
          professional guidance, and a supportive environment, we help you rediscover your true potential and rebuild
          your life.
        </p>
        <p>NPO Director: Patricia Rachidi</p><br>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <a href="/join" type="button" class="btn btn-success btn-lg px-4 me-md-2">Join LADGAC</a>
          <a href="/donate" type="button" class="btn btn-dark btn-lg px-4">Donate</a>
        </div>
      </div>
    </div>
  </div>
</main>
<section class="py-5 bg-success-subtle">
  <div class="container">
    <h2>
      Certified by the Companies and Intellectual Property Commission (2024/4638/07).
    </h2>
  </div>
</section>
<section class="container my-5">
  <header class="mb-3">
    <h3>What We Offer</h3>
  </header>
  <div>
    <ul>
      <li class="mb-3"><b>Detoxification & Substance Abuse Treatment</b><br>
        We help individuals safely and effectively detox from harmful substances and provide ongoing support to maintain
        sobriety.</li>

      <li class="mb-3"><b>Psychological and Behavioral Therapy</b><br>
        Our in-depth counseling sessions help individuals confront and resolve the emotional and psychological
        challenges that
        contribute to addiction and criminal behavior. Therapy options include cognitive-behavioral therapy (CBT), group
        therapy, and family counseling.</li>

      <li class="mb-3"><b>Gang Intervention and Reintegration</b><br>
        Leaving gang life behind is never easy, but we offer tools, mentorship, and vocational training to help
        individuals find
        purpose and peace outside of gang affiliations. Our reintegration programs assist in building positive social
        networks
        and skills for reentry into society.</li>

      <li class="mb-3"><b>Crime Prevention and Rehabilitation</b><br>
        We work closely with law enforcement, legal professionals, and community organizations to provide a second
        chance for
        those willing to change. Our crime rehabilitation programs focus on life skills training, anger management,
        conflict
        resolution, and employment assistance.</li>

      <li class="mb-3"><b>Life Skills and Vocational Training</b><br>
        We equip our clients with practical skills needed to thrive in society. From education and job training to
        financial
        management and conflict resolution, we ensure that you leave with the tools for success.</li>
    </ul>
  </div>
</section>
{% endblock %}