{% extends "base.html" %}
{% block title %} Notifications {% endblock %}

{% block content %}
<main class="container py-5">
  <header>
    <h3>Make a Donation</h3>
    <p>You can support LADGAC Rehab by either donating food parcels or money using one of the options below:</p>
  </header><br><br>
  <article>
    <div class="row">
      <section class="col border border-success rounded border-3 m-2">
        <header class="mb-3">
          <h5><mark>Option 1</mark>: PAY AT THE ATM</h5>
        </header>
        <table class="table table-striped">
          <tr>
            <td>Banking Details:</td>
            <td>TYMEBANK</td>
          </tr>
          <tr>
            <td>Account Name:</td>
            <td>Business Account</td>
          </tr>
          <tr>
            <td>Account Holder:</td>
            <td>LADGAC Rehabilitation Centre</td>
          </tr>
          <tr>
            <td>Account Type:</td>
            <td>Current Account</td>
          </tr>
          <tr>
            <td>Account Number:</td>
            <td>5300 2468 163</td>
          </tr>
          <tr>
            <td>Branch Code:</td>
            <td>678910</td>
          </tr>
          <tr>
            <td>Reference:</td>
            <td>(Parent name and Surname)</td>
          </tr>
        </table>
      </section>
      <section class="col border border-success rounded border-3 m-2">
        <header class="mb-3">
          <h5><mark>Option 2</mark>:
            Donate At Our Centre
          </h5>
          <p>
          <blockquote class="fs-2">You can either bring your donations to the our centre or give us a call to arrange a
            pick-up.
          </blockquote>
          </p>
        </header>
      </section>
    </div>
  </article>
</main>

{% endblock %}