{% extends "base.html" %}
{% block title %} Company Registration{% endblock %}

{% block content %}
<main class="container pt-5">
  <header>
    <h2>Join LADGAC Rehabilitation Centre</h2>
  </header><br><br>
  <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb" class="bg-success-subtle p-1">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">Application Details</li>
      <li class="breadcrumb-item"><a href="#" class="text-success">Emergency Contact</a></li>
      <li class="breadcrumb-item "><a href="#" class="text-success">Select Of Payment</a></li>
    </ol>
  </nav><br>
  <div class="row">
    <article class="col-8">
      <section class="border border-success border-3 rounded p-3">
        <form>
          <header class="py-2">
            <h4><mark>Applicant Details</mark></h4>
          </header>
          <div class="row mt-4">
            <div class="col">
              Language
              <select class="form-select border border-success" aria-label="Default select example">
                <option selected>Sepedi</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </div>
            <div class="col">
              Name(s) <strong class="text-danger">*</strong>
              <input type="text" class="form-control border border-success" aria-label="First name" required>
            </div>
            <div class="col">
              Surname <strong class="text-danger">*</strong>
              <input type="text" class="form-control border border-success" aria-label="First name" required>
            </div>
            <div class="col">
              Id Number <strong class="text-danger">*</strong>
              <input type="number" class="form-control border border-success" aria-label="First name" required>
            </div>
            <div class="col">
              Gender <strong class="text-danger">*</strong>
              <select class="form-select border border-success" aria-label="Default select example">
                <option value="1">male</option>
                <option value="2">female</option>
              </select>
            </div>
          </div>
          <div class="row mt-4">
            <div class="col">
              Home address <strong class="text-danger">*</strong>
              <input type="text" class="form-control border border-success" aria-label="First name" required>
            </div>
            <div class="col">
              City
              <input type="text" class="form-control border border-success" aria-label="First name" required>
            </div>

            <div class="col">
              Province <strong class="text-danger">*</strong>
              <input type="text" class="form-control border border-success" aria-label="First name" required>
            </div>
            <div class="col">
              Suburb <strong class="text-danger">*</strong>
              <input type="text" class="form-control border border-success" aria-label="First name" required>
            </div>
            <div class="col">
              Zip code <strong class="text-danger">*</strong>
              <input type="text" class="form-control border border-success" aria-label="First name" required>
            </div>
            <div class="col">
              Cellphone number <strong class="text-danger">*</strong>
              <input type="text" class="form-control border border-success" aria-label="First name" required>
            </div>
            <div class="col">
              Email address
              <input type="text" class="form-control border border-success" aria-label="First name" required>
            </div>
            <div class="col">
              Other number
              <input type="text" class="form-control border border-success" aria-label="First name" required>
            </div>
          </div>
          <div class="row mt-4">

            <div class="col">
              Weight
              <input type="text" class="form-control border border-success" aria-label="First name" required>
            </div>
            <div class="col">
              Height
              <input type="text" class="form-control border border-success" aria-label="First name" required>
            </div>
            <div class="col">
              BMI
              <input type="text" class="form-control border border-success" aria-label="First name" required>
            </div>
            <div class="col">
              State type of sickness
              <input type="text" class="form-control border border-success" aria-label="First name" required>
            </div>
            <div class="col">
              Addiction status
              <input type="text" class="form-control border border-success" aria-label="First name" required>
            </div>
            <div class="col">
              Initial /present
              <input type="text" class="form-control border border-success" aria-label="First name" required>
            </div>
            <div class="col">
              Qualification
              <input type="text" class="form-control border border-success" aria-label="First name" required>
            </div>
          </div>
          <footer class="mt-4">
            <input type="submit" class="btn btn-success" />
          </footer>
        </form>
      </section><br><br>
      <section class="border border-dark p-3">
        <header class="py-1">
          <h4>Emergency Contact</h4>
        </header>
        <div class="row">
          <div class="col">
            name(s)*
            <input type="text" class="form-control" placeholder="name" aria-label="First name" required>
          </div>
          <div class="col">
            surname
            <input type="text" class="form-control" placeholder="name" aria-label="First name" required>
          </div>
          <div class="col">
            relationship
            <select class="form-select" aria-label="Default select example">
              <option selected>Mother</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
          <div class="col">
            phone number
            <input type="text" class="form-control" placeholder="name" aria-label="First name" required>
          </div>
          <footer class="mt-4">
            <input type="submit" class="btn btn-success" />
          </footer>
        </div>
      </section><br><br>
      <section class="border border-dark p-3">
        <header class="py-1">
          <h4>Payment</h4>
        </header>
        <div class="row">
          <div class="mb-3 col">
            select of payment
            <select class="form-select" aria-label="Default select example">
              <option selected>Min Price</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
          <div class="mb-3 col">
            Did you manage to communicate your payment?
            <div class="form-check form-check-inline">
              <input class="form-check-input" name='did' type="radio" id="inlineCheckbox1" value="option1">
              <label class="form-check-label" for="inlineCheckbox1">Price</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" name="did" type="radio" id="inlineCheckbox2" value="option2">
              <label class="form-check-label" for="inlineCheckbox2">Monthly Repayment</label>
            </div><br><br>
          </div>
          <div class="col">
            name(s)*
            <input type="text" class="form-control" placeholder="name" aria-label="First name" required>
          </div>
          <div class="col">
            name(s)*
            <input type="text" class="form-control" placeholder="name" aria-label="First name" required>
          </div>
          <div class="col">
            name(s)*
            <input type="text" class="form-control" placeholder="name" aria-label="First name" required>
          </div>
          <div class="col">
            name(s)*
            <input type="text" class="form-control" placeholder="name" aria-label="First name" required>
          </div>
          <footer class="mt-4">
            <input type="submit" class="btn btn-success" />
          </footer>
        </div>
      </section><br>
    </article>
    <aside class="col-4"></aside>
  </div>
</main>
{% endblock %}